@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: background 0.5s ease;
}

html.dark {
	background-image: url('../public/assets/new/bg1.jpg');
	animation: bg-frames 0.75s infinite;
}

html.light {
  background-color: white;
}

button {
	cursor: pointer;
}

button:active {
	scale: 0.95;
}

@media (min-width: 640px) {
	button {
		transition: all 0.15s ease-in-out;
	}
	button:hover {
		scale: 1.05;
	}
}

@theme {
	--animate-fadeInOut: fadeInOut 2s infinite;
	--animate-bg: bg-frames 0.75s infinite;

	@keyframes fadeInOut {
		0%: {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}

/* Disable default view transition animations */
::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

@keyframes wipe-left-right {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes wipe-right-left {
	from {
		clip-path: inset(0 0 0 100%);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

html.light.theme-transition::view-transition-new(root) {
	animation: wipe-left-right 0.75s cubic-bezier(0.22, 1, 0.36, 1);
}

html.dark.theme-transition::view-transition-new(root) {
	animation: wipe-right-left 0.75s cubic-bezier(0.22, 1, 0.36, 1);
}

.dark img {
	filter: invert(1);
}

@keyframes bg-frames {
	0% {
		background-image: url('/assets/new/bg1.jpg');
	}
	16.67% {
		background-image: url('/assets/new/bg2.jpg');
	}
	33.33% {
		background-image: url('/assets/new/bg3.jpg');
	}
	50% {
		background-image: url('/assets/new/bg2.1.jpg');
	}
	66.67% {
		background-image: url('/assets/new/bg1.1.jpg');
	}
	83.33% {
		background-image: url('/assets/new/bg3.1.jpg');
	}
	100% {
		background-image: url('/assets/new/bg1.jpg');
	}
}
